<?xml version="1.0" encoding="UTF-8"?>

<!--
First-time install dialog sequence:      Maintenance dialog sequence:
 - WixUI_WelcomeDlg                     - WixUI_MaintenanceWelcomeDlg
 - WixUI_LicenseAgreementDlg            - WixUI_MaintenanceTypeDlg
 - WixUI_InstallDirDlg                    - WixUI_InstallDirDlg
   - WixUI_VerifyReadyDlg                 - WixUI_VerifyReadyDlg
   - WixUI_DiskCostDlg
-->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <UI Id="WixUI_Custom">
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <Property Id="WixUI_Mode" Value="InstallDir" />

      <DialogRef Id="BrowseDlg" />
      <DialogRef Id="DiskCostDlg" />
      <DialogRef Id="InstallDirDlg" />
      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="ExitDialog" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="LicenseAgreementDlg" />
      <DialogRef Id="MaintenanceTypeDlg" />
      <DialogRef Id="MaintenanceWelcomeDlg" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />
      <DialogRef Id="VerifyReadyDlg" />
      <DialogRef Id="WelcomeDlg" />

      <Property Id="ARPNOMODIFY" Value="1" />

      <Property Id="WixUI_WelcomeDlg_Next" Value="LicenseAgreementDlg" />

      <Property Id="WixUI_LicenseAgreementDlg_Back" Value="WelcomeDlg" />
      <Property Id="WixUI_LicenseAgreementDlg_Next" Value="InstallDirDlg" />

      <Property Id="WixUI_InstallDirDlg_Back" Value="LicenseAgreementDlg" />
      <Property Id="WixUI_InstallDirDlg_Next" Value="VerifyReadyDlg" />
      <Property Id="WixUI_InstallDirDlg_Browse" Value="BrowseDlg" />

      <Property Id="WixUI_VerifyReadyDlg_BackRepair" Value="MaintenanceTypeDlg" />
      <Property Id="WixUI_VerifyReadyDlg_BackRemove" Value="MaintenanceTypeDlg" />
      <Property Id="WixUI_VerifyReadyDlg_BackInstallDir" Value="InstallDirDlg" />

      <Property Id="WixUI_MaintenanceWelcomeDlg_Next" Value="MaintenanceTypeDlg" />

      <Property Id="WixUI_MaintenanceTypeDlg_Repair" Value="VerifyReadyDlg" />
      <Property Id="WixUI_MaintenanceTypeDlg_Remove" Value="VerifyReadyDlg" />
      <Property Id="WixUI_MaintenanceTypeDlg_Back" Value="MaintenanceWelcomeDlg" />

      <UIText Id="AbsentPath" />
      <UIText Id="bytes">!(loc.UITextbytes)</UIText>
      <UIText Id="GB">!(loc.UITextGB)</UIText>
      <UIText Id="KB">!(loc.UITextKB)</UIText>
      <UIText Id="MB">!(loc.UITextMB)</UIText>
      <UIText Id="MenuAbsent">!(loc.UITextMenuAbsent)</UIText>
      <UIText Id="MenuAdvertise">!(loc.UITextMenuAdvertise)</UIText>
      <UIText Id="MenuAllCD">!(loc.UITextMenuAllCD)</UIText>
      <UIText Id="MenuAllLocal">!(loc.UITextMenuAllLocal)</UIText>
      <UIText Id="MenuAllNetwork">!(loc.UITextMenuAllNetwork)</UIText>
      <UIText Id="MenuCD">!(loc.UITextMenuCD)</UIText>
      <UIText Id="MenuLocal">!(loc.UITextMenuLocal)</UIText>
      <UIText Id="MenuNetwork">!(loc.UITextMenuNetwork)</UIText>
      <UIText Id="ScriptInProgress">!(loc.UITextScriptInProgress)</UIText>
      <UIText Id="SelAbsentAbsent">!(loc.UITextSelAbsentAbsent)</UIText>
      <UIText Id="SelAbsentAdvertise">!(loc.UITextSelAbsentAdvertise)</UIText>
      <UIText Id="SelAbsentCD">!(loc.UITextSelAbsentCD)</UIText>
      <UIText Id="SelAbsentLocal">!(loc.UITextSelAbsentLocal)</UIText>
      <UIText Id="SelAbsentNetwork">!(loc.UITextSelAbsentNetwork)</UIText>
      <UIText Id="SelAdvertiseAbsent">!(loc.UITextSelAdvertiseAbsent)</UIText>
      <UIText Id="SelAdvertiseAdvertise">!(loc.UITextSelAdvertiseAdvertise)</UIText>
      <UIText Id="SelAdvertiseCD">!(loc.UITextSelAdvertiseCD)</UIText>
      <UIText Id="SelAdvertiseLocal">!(loc.UITextSelAdvertiseLocal)</UIText>
      <UIText Id="SelAdvertiseNetwork">!(loc.UITextSelAdvertiseNetwork)</UIText>
      <UIText Id="SelCDAbsent">!(loc.UITextSelCDAbsent)</UIText>
      <UIText Id="SelCDAdvertise">!(loc.UITextSelCDAdvertise)</UIText>
      <UIText Id="SelCDCD">!(loc.UITextSelCDCD)</UIText>
      <UIText Id="SelCDLocal">!(loc.UITextSelCDLocal)</UIText>
      <UIText Id="SelChildCostNeg">!(loc.UITextSelChildCostNeg)</UIText>
      <UIText Id="SelChildCostPos">!(loc.UITextSelChildCostPos)</UIText>
      <UIText Id="SelCostPending">!(loc.UITextSelCostPending)</UIText>
      <UIText Id="SelLocalAbsent">!(loc.UITextSelLocalAbsent)</UIText>
      <UIText Id="SelLocalAdvertise">!(loc.UITextSelLocalAdvertise)</UIText>
      <UIText Id="SelLocalCD">!(loc.UITextSelLocalCD)</UIText>
      <UIText Id="SelLocalLocal">!(loc.UITextSelLocalLocal)</UIText>
      <UIText Id="SelLocalNetwork">!(loc.UITextSelLocalNetwork)</UIText>
      <UIText Id="SelNetworkAbsent">!(loc.UITextSelNetworkAbsent)</UIText>
      <UIText Id="SelNetworkAdvertise">!(loc.UITextSelNetworkAdvertise)</UIText>
      <UIText Id="SelNetworkLocal">!(loc.UITextSelNetworkLocal)</UIText>
      <UIText Id="SelNetworkNetwork">!(loc.UITextSelNetworkNetwork)</UIText>
      <UIText Id="SelParentCostNegNeg">!(loc.UITextSelParentCostNegNeg)</UIText>
      <UIText Id="SelParentCostNegPos">!(loc.UITextSelParentCostNegPos)</UIText>
      <UIText Id="SelParentCostPosNeg">!(loc.UITextSelParentCostPosNeg)</UIText>
      <UIText Id="SelParentCostPosPos">!(loc.UITextSelParentCostPosPos)</UIText>
      <UIText Id="TimeRemaining">!(loc.UITextTimeRemaining)</UIText>
      <UIText Id="VolumeCostAvailable">!(loc.UITextVolumeCostAvailable)</UIText>
      <UIText Id="VolumeCostDifference">!(loc.UITextVolumeCostDifference)</UIText>
      <UIText Id="VolumeCostRequired">!(loc.UITextVolumeCostRequired)</UIText>
      <UIText Id="VolumeCostSize">!(loc.UITextVolumeCostSize)</UIText>
      <UIText Id="VolumeCostVolume">!(loc.UITextVolumeCostVolume)</UIText>


    </UI>

  </Fragment>

</Wix>