<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.64.0.0" targetFramework="native" />
  <package id="boost_atomic-vc141" version="1.64.0.0" targetFramework="native" />
  <package id="boost_bzip2-vc141" version="1.64.0.0" targetFramework="native" />
  <package id="boost_chrono-vc141" version="1.64.0.0" targetFramework="native" />
  <package id="boost_container-vc141" version="1.64.0.0" targetFramework="native" />
  <package id="boost_context-vc141" version="1.64.0.0" targetFramework="native" />
  <package id="boost_coroutine-vc141" version="1.64.0.0" targetFramework="native" />
  <package id="boost_date_time-vc141" version="1.64.0.0" targetFramework="native" />
  <package id="boost_exception-vc141" version="1.64.0.0" targetFramework="native" />
  <package id="boost_fiber-vc141" version="1.64.0.0" targetFramework="native" />
  <package id="boost_filesystem-vc141" version="1.64.0.0" targetFramework="native" />
  <package id="boost_graph-vc141" version="1.64.0.0" targetFramework="native" />
  <package id="boost_iostreams-vc141" version="1.64.0.0" targetFramework="native" />
  <package id="boost_locale-vc141" version="1.64.0.0" targetFramework="native" />
  <package id="boost_log_setup-vc141" version="1.64.0.0" targetFramework="native" />
  <package id="boost_log-vc141" version="1.64.0.0" targetFramework="native" />
  <package id="boost_math_c99f-vc141" version="1.64.0.0" targetFramework="native" />
  <package id="boost_math_c99l-vc141" version="1.64.0.0" targetFramework="native" />
  <package id="boost_math_c99-vc141" version="1.64.0.0" targetFramework="native" />
  <package id="boost_math_tr1f-vc141" version="1.64.0.0" targetFramework="native" />
  <package id="boost_math_tr1l-vc141" version="1.64.0.0" targetFramework="native" />
  <package id="boost_math_tr1-vc141" version="1.64.0.0" targetFramework="native" />
  <package id="boost_prg_exec_monitor-vc141" version="1.64.0.0" targetFramework="native" />
  <package id="boost_program_options-vc141" version="1.64.0.0" targetFramework="native" />
  <package id="boost_python3-vc141" version="1.64.0.0" targetFramework="native" />
  <package id="boost_python-vc141" version="1.64.0.0" targetFramework="native" />
  <package id="boost_random-vc141" version="1.64.0.0" targetFramework="native" />
  <package id="boost_regex-vc141" version="1.64.0.0" targetFramework="native" />
  <package id="boost_serialization-vc141" version="1.64.0.0" targetFramework="native" />
  <package id="boost_signals-vc141" version="1.64.0.0" targetFramework="native" />
  <package id="boost_system-vc141" version="1.64.0.0" targetFramework="native" />
  <package id="boost_test_exec_monitor-vc141" version="1.64.0.0" targetFramework="native" />
  <package id="boost_thread-vc141" version="1.64.0.0" targetFramework="native" />
  <package id="boost_timer-vc141" version="1.64.0.0" targetFramework="native" />
  <package id="boost_type_erasure-vc141" version="1.64.0.0" targetFramework="native" />
  <package id="boost_unit_test_framework-vc141" version="1.64.0.0" targetFramework="native" />
  <package id="boost_wave-vc141" version="1.64.0.0" targetFramework="native" />
  <package id="boost_wserialization-vc141" version="1.64.0.0" targetFramework="native" />
  <package id="boost_zlib-vc141" version="1.64.0.0" targetFramework="native" />
  <package id="boost-vc141" version="1.64.0.0" targetFramework="native" />
</packages>